// FONT
$font: 'Spartan', sans-serif;

// COLORS
$dark-grayish-magenta: rgb(80, 32, 80);
$light-grayish-magenta: rgb(147, 123, 146);
$pink: rgb(238, 104, 164);
$white-magenta: rgb(247, 242, 247);
$white: rgb(255, 255, 255);

// Z-INDEX  
$low: -1;
$medium: 100;
$tall: 200;
